body{
  background-color: rgb(12, 57, 8);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#vote-template{
  display: none;
}

.search{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.search input{
  width: 300px;
  padding: 5px 10px;
}

.results{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

ul{
  position: relative;
  width: 300px;
  list-style: none;
}

#filmList li{
  background-color: rgb(246, 141, 94);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin-bottom: 30px;
}
#tvList li{
  background-color: rgb(255, 97, 255);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin-bottom: 30px;
}
