body{
  background-color: rgb(12, 57, 8);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search{
  display: flex;
  justify-content: center;
  width: 100%;

  margin-top: 20px;
}

.search input{
  width: 300px;
  padding: 5px 10px;
}
